.o-intro
    img.o-intro__bg(src="images/intro-bg-1.jpg", alt="")/
    img.o-intro__logo(src="images/leandro-lima-dermatologista-logo.png", alt="")/
    .o-intro__text
        .c-title--default Equilibre sua Saúde, <br />sua Naturalidade<br />e sua Beleza
        //.c-title--small A prevenção é a cura mais eficaz
    .o-intro__footer
        .o-intro__info
            .o-intro__section
                .o-intro__title Endereço
                .o-intro__content Rua Gonçalves Dias, 89<br />Belo Horizonte/MG
            .o-intro__vertical
            .o-intro__section
                .o-intro__title Telefone
                .o-intro__content 31.0000.1234<br />31.0000.1235
            .o-intro__vertical
            .o-intro__section
                .o-intro__title Horário
                .o-intro__content de 2° a 6°, de 7h às 22h.<br />Sabado: de 8h às 14h
        .o-intro__cta.u-shadow--default
            .o-text Agenda agora o seu orario
            .c-btn--sm-blue agendar
