section.o-section
    article.o-section__row--square
        .o-section__square
            img.o-section__img.u-shadow--default(src="images/problem-1.jpg", alt="")/
        .o-section__text
            .o-section__stroke
            header
                h2.o-section__title.c-title--default Envelhecimento natural da pele
            p.o-section__paragraph.c-paragraph--default
                | <span>“</span>O envelhecimento natural da pele é inevitável, porém para chegar à terceira idade com uma pele saudável e hidratada é imprescindível um cuidado rigoroso durante toda a vida: boa alimentação, hidratação, ingestão de bastante líquido e uso de protetor solar, entre outros.<span>”</span>
            a.o-section__link(href="", title="") <span>+</span> Leia mais


