include _menu.pug

.o-header
    .o-header__btn--menu
        .o-header__btn-icon(uk-icon="icon: menu")
        .o-header__btn-icon(uk-icon="icon: close")
        .o-header__btn-label Menu
    //.o-header__content
    .o-header__btn--help
        .o-header__btn-icon(uk-icon="icon: info")
        .o-header__btn-label Ajuda



