///* ========================================================================
//   #COLORS PALETTE
//   ======================================================================== */

$white: #fff;
$black: #000;

$blue-dk: #1C262B;
$blue-md: #114B65;
$azure-md: #32A1D3;
$azure-lt: #AEDAEE;

$gray-dk: #333;
$gray-md: #a1a1a1;
$gray-lt: #eee;

$gray-blue-dk: #0C0C13;
$gray-blue-md: #252538;
$gray-azure-md: #BEE3E3;
$gray-azure-lt: #D6FFFF;

$status-red: #FF7355;
$status-yellow: #FFEB47;
$status-green: #59FF6C;

$main-background-color: $white;